<h1>Register</h1>
<p>This where you register!</p>
<% if flash[:errors] %>
	<% flash[:errors].each do |error| %>
		<p><%= error %></p>
	<% end %>
<% end %>

<form action='/users/create' method='post'>
	<input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">

	<label>Your First Name:</label>
	<input type='text' name='user[first_name]' placeholder='first name' />

	<label>Your Last Name:</label>
	<input type='text' name='user[last_name]' placeholder='last name' />

	<label>Your Email:</label>
	<input type='email' name='user[email]' placeholder='email' />

	<label>Your password:</label>
	<input type='password' name='user[password]' placeholder='password' />

	<label>Please confirm password:</label>
	<input type='password' name='user[password_confirmation]' placeholder='password' />

	<input type='submit' value='Submit'>
</form>

