<div class="row header">
	<h1 class="col-md-8">The Wall</h1>
	<% if session[:user_name] %>
	<p class="col-md-2 pheader">Welcome <%= session[:user_name] %></p>
	<%= link_to('Sign Off', signout_path) %>
	<% end %>
</div>