<div id='container'>
	<h1>Amazing Ninja Gold Game</h1>
	<div>
		Your Gold: <%= session[:gold] %>
	</div>
	<div id='find_gold'>
		<div class='gold_gen'>
			<p>Farm</p>
			<p>(earns 10-20 golds)</p>
			<form action='/rpgs/farm' method='post'>
				<input name="authenticity_token" value="<% form_authenticity_token %>" type="hidden">
				<input type='submit' value='Find Gold!'>
			</form>
		</div>
		<div class='gold_gen'>
			<p>Cave</p>
			<p>(earns 5-10 golds)</p>
			<form action='/rpgs/cave' method='post'>
				<input name="authenticity_token" value="<% form_authenticity_token %>" type="hidden">
				<input type='submit' value='Find Gold!'>
			</form>
		</div>
		<div class='gold_gen'>
			<p>House</p>
			<p>(earns 2-5 golds)</p>
			<form action='/rpgs/house' method='post'>
				<input name="authenticity_token" value="<% form_authenticity_token %>" type="hidden">
				<input type='submit' value='Find Gold!'>
			</form>
		</div>
		<div class='gold_gen'>
			<p>Casino</p>
			<p>(earns/takes 50 golds)</p>
			<form action='/rpgs/casino' method='post'>
				<input name="authenticity_token" value="<% form_authenticity_token %>" type="hidden">
				<input type='submit' value='Find Gold!'>
			</form>
		</div>
	</div> <!--  close find gold selection div -->
	<div>
		<% if session[:activity] %>
		<% session[:activity].reverse.each do |activity| %>
		<%= activity[0] %></p>
		<% end %>
<% end %>
	</div>
</div> <!-- close of container -->

